<script setup lang="ts">
import { reactive, watch, computed, ref } from "vue";
import InputComponent from "@/components/InputComponent.vue";
import NumberInput from "@/components/NumberInput.vue";
import MainButton from "@/components/MainButton.vue";
import { usePollStore } from "@/stores/pollStore";
import { onBeforeRouteLeave, useRoute, useRouter } from "vue-router";
import { APIError, SLUG_RE, type PollCreate } from "@/models/APITypes";
import { catchAPI } from "@/API";
import { getError } from "@/errors";
import AlertComponent from "@/components/AlertComponent.vue";

const pollStore = usePollStore();
const router = useRouter();
const route = useRoute();

onBeforeRouteLeave((_to, _from) => {
  if (!isSubmitting && (choiceEdited.value || titleEdited || slugEdited)) {
    const answer = window.confirm("Do you really want to leave? you have unsaved changes!");
    // cancel the navigation and stay on the same page
    if (!answer) return false;
  }
});

const error = ref<string>();
const poll: PollCreate = reactive({
  slug: "",
  title: "",
  description: "",
  maxChoices: 1,
  choices: [{ title: "" }],
} as PollCreate);

const isEdit = computed(() => route.name === "pollEdit");

const maxChoices = 8; // Maximum number of options allowed

let slugEdited = false;
let titleEdited = false;
const isSlugValid = computed(() => SLUG_RE.test(poll.slug));
const choiceEdited = ref<boolean>(false);
const isChoicesValid = computed(() => poll.choices[0]?.title);
const maxChoicesSelect = computed(() => {
  return poll.choices.length == 1 ? poll.choices.length : poll.choices.length - 1;
});
let isSubmitting = false;

//adding empty choice on filling previous
watch(
  () => poll.choices,
  (choices) => {
    if (choices[choices.length - 1]?.title && choices.length < maxChoices) {
      choices.push({ title: "" });
    }
  },
  { deep: true }
);

//takes title on change and use it as remaked slug
const slugUpdate = () => {
  titleEdited = true;
  poll.slug = poll.title
    .toLowerCase()
    .replace(/\s+/g, "-")
    .normalize("NFKD")
    .replace(/[^\w-]/g, "")
    .replace(/-+/g, "-")
    .replace(/(^-)|(-$)/, "")
    .slice(0, 128);
};

function reformat() {
  let i = 0;
  while (i < poll.choices.length) {
    if (poll.choices[i].title === "") {
      poll.choices.splice(i, 1);
    } else i++;
  }
}

async function submitForm() {
  if (poll.choices[0]?.title === "") {
    choiceEdited.value = true;
    return;
  }
  isSubmitting = true;
  reformat();
  if (isEdit.value) {
    error.value = await pollStore.updatePoll(poll, route.params.slug as string);
  } else {
    error.value = await pollStore.createPoll(poll);
  }
  if (!error.value) await router.push({ name: "profile" });
  isSubmitting = false;
}

watch(
  () => route.params.slug,
  async (slug) => {
    if (route.params.slug) {
      await pollStore.getPoll(slug as string).catch(
        catchAPI(APIError.NOT_FOUND, () => {
          error.value = APIError.NOT_FOUND;
        })
      );

      if (pollStore.poll) {
        poll.title = pollStore.poll.title;
        poll.slug = pollStore.poll.slug;
        poll.maxChoices = pollStore.poll.maxChoices;
        poll.choices = pollStore.poll.choices.map((choice) => ({
          ...choice,
        }));
      }
    }
  },
  { immediate: true }
);
</script>

<template>
  <div class="mx-auto flex w-full max-w-screen-lg flex-col p-2 pb-8">
    <h2 class="mb-4 text-4xl">Create new poll</h2>

    <AlertComponent v-if="error" class="mb-4 text-center" data-cy="alert-error">
      {{ getError(error) }}
    </AlertComponent>

    <form class="flex flex-col items-start gap-8" @submit.prevent="submitForm">
      <div class="flex w-full flex-wrap gap-x-2">
        <InputComponent
          v-model="poll.title"
          required
          class="w-2/4 flex-grow"
          placeholder="Ask your question here"
          label="Poll name"
          data-cy="poll-name-input"
          @input="slugUpdate"
        />
        <div class="relative flex-grow">
          <InputComponent
            v-model="poll.slug"
            required
            placeholder="What the link should be"
            label="Poll slug"
            data-cy="poll-slug-input"
            @input="() => (slugEdited = true)"
          />
          <div class="absolute -bottom-4 px-1">
            <span
              v-if="!isSlugValid && slugEdited"
              class="text-sm text-red-600"
              data-cy="error-slug"
            >
              Slug must be lowercase without whitespace and diacritics
            </span>
          </div>
        </div>
      </div>
      <div class="w-full">
        <h3 class="mb-3 text-lg">Answer choices</h3>
        <div class="relative bottom-5 h-0">
          <span
            v-if="!isChoicesValid && choiceEdited"
            class="text-sm text-red-600"
            data-cy="error-answer"
          >
            At least one answer must be provided
          </span>
        </div>
        <ul>
          <li v-for="(choice, index) in poll.choices" :key="index" class="list-none">
            <InputComponent
              v-model="choice.title"
              placeholder="Option"
              label=""
              data-cy="poll-option-input"
              @change="reformat"
              @input="() => (choiceEdited = true)"
            />
          </li>
        </ul>
      </div>

      <label for="max-choices" class="text-1xl text-center text-white">
        Max choices per vote
        <NumberInput
          id="max-choices"
          v-model="poll.maxChoices"
          class="ml-2"
          :min="1"
          :max="maxChoicesSelect"
          data-cy="number-input"
        />
      </label>

      <MainButton label="Submit" type="submit" data-cy="submit-button" />
    </form>
  </div>
</template>
