<script setup lang="ts">
import AlertComponent from "@/components/AlertComponent.vue";
import CopyButton from "@/components/CopyButton.vue";
import TextLink from "@/components/TextLink.vue";
import LogoIcon from "@/components/parts/LogoIcon.vue";
import { useResultsStore } from "@/stores/resultStore";
import { faEye } from "@fortawesome/free-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { computed, watch } from "vue";
import { useRoute } from "vue-router";

const route = useRoute();
const resultStore = useResultsStore();

watch(
  () => route.params.slug,
  async (slug) => {
    await resultStore.start(slug as string);
  },
  { immediate: true }
);

const link = computed(() => window.location.origin + "/poll/" + resultStore.results?.slug);
const totalVotes = computed(
  () => resultStore.results?.choices.reduce((acc, choice) => acc + choice.votes, 0) ?? 0
);
const maxVotes = computed(
  () => Math.max(...(resultStore.results?.choices.map((choice) => choice.votes) ?? [0])) || 1
);
</script>

<template>
  <div class="mb-8 flex w-full flex-col items-center p-2">
    <h1 class="text-center text-2xl opacity-75">Poll Results</h1>

    <div class="h-0 transition" :class="{ 'opacity-0': !resultStore.loading }">
      <LogoIcon animated></LogoIcon>
    </div>

    <div v-if="resultStore.results" class="relative flex w-full flex-col items-center">
      <h2 class="w-full hyphens-auto break-words text-center text-4xl text-white">
        {{ resultStore.results?.title }}
      </h2>

      <div class="mt-8 opacity-75">
        Link:
        <CopyButton :content="link">{{ link }}</CopyButton>
      </div>

      <div class="my-16 w-full max-w-screen-md">
        <div class="px-8 text-right">
          <span v-if="resultStore.connected" class="inline-flex items-center gap-2 text-blue-400">
            Realtime connected
            <span class="relative inline-block size-[1ex]">
              <span class="absolute inset-0 inline-block rounded-full bg-current" />
              <span
                class="absolute inset-0 inline-block size-[1ex] animate-ping rounded-full bg-current"
              />
            </span>
          </span>
          <span v-else class="text-blue-400">Connecting...</span>
        </div>

        <dl
          class="glass grid w-full grid-cols-[auto,auto] gap-4 gap-y-8 p-8 md:grid-cols-[auto,auto,1fr]"
        >
          <template v-for="(choice, i) in resultStore.results?.choices" :key="choice.id">
            <dt
              class="option px-4 text-lg font-bold leading-none md:text-right"
              :style="{ 'animation-delay': i * 100 + 'ms' }"
            >
              {{ choice.title }}
            </dt>
            <dd
              class="option text-nowrap text-right leading-none"
              :style="{
                'animation-delay': i * 100 + 50 + 'ms',
                color: `hsl(${(i / (resultStore.results?.choices.length ?? 1)) * 360}, 100%, 70%)`,
              }"
            >
              {{ choice.votes.toLocaleString() }} votes
            </dd>
            <dd
              class="option flex items-center gap-4 text-nowrap leading-none max-md:col-span-2 max-md:-mt-5"
              :style="{
                'animation-delay': i * 100 + 50 + 'ms',
                color: `hsl(${(i / (resultStore.results?.choices.length ?? 1)) * 360}, 100%, 70%)`,
              }"
            >
              <div class="flex w-full min-w-8 items-center gap-2">
                <div
                  :style="{
                    width: `${(choice.votes / maxVotes) * 100}%`,
                    'animation-delay': i * 100 + 100 + 'ms',
                  }"
                  class="bar -mb-0.5 h-[1em] min-w-1 rounded bg-current transition-all duration-500"
                />

                <span class="font-semibold">
                  {{ Math.round((choice.votes / (totalVotes || 1)) * 100) }} %
                </span>
              </div>
            </dd>
          </template>
        </dl>
      </div>

      <div class="text-center text-xl leading-relaxed">
        {{ totalVotes.toLocaleString() }} votes in total<br />
        <FontAwesomeIcon :icon="faEye" size="sm" class="mr-1" />
        {{ resultStore.results?.views.toLocaleString() }} views
      </div>
    </div>

    <AlertComponent v-else-if="!resultStore.loading" class="mt-8">
      Poll not found!

      <template #description>
        <TextLink :to="{ name: 'home' }">Go home</TextLink>
      </template>
    </AlertComponent>
  </div>
</template>

<style scoped>
.option {
  animation: fadeIn 0.3s ease-out both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

.bar {
  animation: expand 1s ease-in-out both;
}

@keyframes expand {
  from {
    width: 0%;
  }
}
</style>
