<script setup lang="ts">
import { API, APIResultError } from "@/API";
import { usePollStore } from "@/stores/pollStore";
import { computed, reactive, ref, watch } from "vue";
import { useRoute, useRouter } from "vue-router";
import { getError } from "@/errors";
import AlertComponent from "@/components/AlertComponent.vue";
import TextLink from "@/components/TextLink.vue";
import MainButton from "@/components/MainButton.vue";

const pollStore = usePollStore();
const route = useRoute();
const choices = reactive([]);
const router = useRouter();
const error = ref<string>();

watch(
  () => route.params.slug,
  async (slug) => {
    await pollStore.getPoll(slug as string);
  },
  { immediate: true }
);

const selectedCount = computed(() => {
  return choices.filter((choice) => choice).length;
});

async function vote() {
  const pickedChoices = [];
  for (let i = 0; i < pollStore.poll!.choices.length; i++) {
    if (choices[i]) {
      pickedChoices.push(pollStore.poll!.choices[i].id);
    }
  }
  try {
    await API.poll.vote({ choices: pickedChoices }, route.params.slug as string);
    await router.push({ name: "results", params: { slug: route.params.slug } });
  } catch (err) {
    if (err instanceof APIResultError) {
      error.value = err.code;
    } else throw err;
  }
}
</script>

<template>
  <div class="mb-8 flex flex-col items-center justify-center">
    <div class="h-0 transition" :class="{ 'opacity-0': !pollStore.loading }">
      <LogoIcon animated></LogoIcon>
    </div>

    <AlertComponent v-if="error" class="mb-4 text-center" data-cy="alert-error">{{
      getError(error)
    }}</AlertComponent>

    <h2
      v-if="pollStore.poll && !pollStore.loading"
      class="mt-16 w-full hyphens-auto break-words text-center text-4xl"
    >
      {{ pollStore.poll.title }}
    </h2>

    <h2 v-if="pollStore.poll && !pollStore.loading" class="text-l pb-6 text-center opacity-75">
      You can vote for {{ pollStore.poll.maxChoices }}
      <span v-if="pollStore.poll.maxChoices === 1">option</span>
      <span v-else>options</span>
    </h2>
    <ul v-if="pollStore.poll && !pollStore.loading" class="space-y-4">
      <li
        v-for="(choice, i) in pollStore.poll.choices"
        :key="choice.id"
        class="flex justify-center"
      >
        <input
          :id="'choice-' + i"
          v-model="choices[i]"
          type="checkbox"
          class="hidden"
          :disabled="!choices[i] && selectedCount >= pollStore.poll.maxChoices"
        />
        <label
          :for="'choice-' + i"
          :class="[
            choices[i] ? ' bg-purple-600' : 'bg-gray-500',
            !choices[i] && selectedCount >= pollStore.poll.maxChoices
              ? 'cursor-not-allowed opacity-50'
              : '',
          ]"
          class="my-2 w-64 cursor-pointer rounded-3xl py-2 text-center"
        >
          {{ choice.title }}
        </label>
      </li>
    </ul>
    <div v-if="pollStore.poll && !pollStore.loading" class="my-8">
      <MainButton label="Submit" data-cy="submit-button" @click="vote" />
    </div>
    <div v-if="pollStore.poll && !pollStore.loading" class="mt-4">
      <TextLink
        data-cy="link-results"
        :to="{ name: 'results', params: { slug: route.params.slug } }"
        >Show Results</TextLink
      >
    </div>

    <AlertComponent
      v-else-if="!pollStore.loading && !pollStore.poll"
      class="mt-8"
      data-cy="alert-error"
    >
      Poll not found!
      <template #description>
        <TextLink :to="{ name: 'home' }" data-cy="link-home">Go home</TextLink>
      </template>
    </AlertComponent>
  </div>
</template>
