<script setup lang="ts">
import InputComponent from "@/components/InputComponent.vue";
import MainButton from "@/components/MainButton.vue";
import TitleComponent from "@/components/TitleComponent.vue";
import TextLink from "@/components/TextLink.vue";
import { computed, ref } from "vue";
import { useUserStore } from "@/stores/userStore";
import { useRoute, useRouter } from "vue-router";
import AlertComponent from "@/components/AlertComponent.vue";
import { ERROR_MESSAGE, UIError, getError } from "@/errors";

const userStore = useUserStore();
const router = useRouter();
const route = useRoute();

const error = ref<string>();
const username = ref("");
const password = ref("");
const confirmPassword = ref("");

const routeName = computed(() => route.name as string);
const isRegister = computed(() => route.name === "register");
const redirectTo = computed(() => !!route.query.redirectTo);
const logOut = computed(() => !!route.query.logOut);

async function submit(ev: Event) {
  ev.preventDefault();
  ev.stopPropagation();

  error.value = undefined;

  if (isRegister.value) {
    if (password.value !== confirmPassword.value) {
      error.value = UIError.PASSWORD_MISMATCH;
      return;
    }
    error.value = await userStore.register(username.value, password.value);
  } else {
    error.value = await userStore.login(username.value, password.value);
  }

  if (userStore.user) {
    // Success, redirect elsewhere, handled by guards
    await router.push({ path: route.path, force: true });
  }
}
</script>

<template>
  <div
    class="mx-auto -mt-24 flex h-full w-full max-w-2xl flex-grow flex-col items-center justify-center gap-8 bg-black bg-opacity-40 p-8 py-[10svh] backdrop-blur"
  >
    <TitleComponent
      :title="isRegister ? 'Sign Up' : 'Log In'"
      class="mb-auto mt-24"
      data-cy="title"
    />

    <AlertComponent v-if="redirectTo" level="info" class="text-center" data-cy="alert-error">{{
      ERROR_MESSAGE.NOT_LOGGED_IN
    }}</AlertComponent>

    <AlertComponent v-if="logOut" level="success" class="text-center" data-cy="alert-success">
      Signed out successfully!
    </AlertComponent>

    <AlertComponent v-if="error" class="text-center" data-cy="alert-error">{{
      getError(error)
    }}</AlertComponent>

    <form class="flex w-full max-w-md flex-col items-center gap-4" @submit="submit">
      <InputComponent
        v-model="username"
        required
        label="Username"
        placeholder="Enter your username"
        type="text"
        class="w-full"
        :data-cy="'input-username-' + routeName"
      />

      <InputComponent
        v-model="password"
        required
        label="Password"
        placeholder="Enter your password"
        type="password"
        class="w-full"
        :data-cy="'input-password-' + routeName"
      />

      <InputComponent
        v-if="isRegister"
        v-model="confirmPassword"
        required
        label="Confirm Password"
        placeholder="Re-enter your password"
        type="password"
        class="w-full"
        :data-cy="'input-confirm-password-' + routeName"
      />

      <MainButton
        :label="isRegister ? 'Sign Up ' : 'Log In'"
        type="submit"
        class="mt-8"
        :data-cy="'submit-button-' + routeName"
      />
    </form>

    <TextLink
      :to="{
        name: isRegister ? 'login' : 'register',
        query: { redirectTo: route.query.redirectTo },
      }"
      class="mt-auto"
      data-cy="link"
    >
      {{ isRegister ? "Or log in to your account" : "Or create new account" }}
    </TextLink>
  </div>
</template>
