<script setup lang="ts">
import BackgroundWave from "@/components/parts/BackgroundWave.vue";
import MainButton from "@/components/MainButton.vue";
import TitleComponent from "@/components/TitleComponent.vue";
import SecondTitle from "@/components/SecondTitle.vue";
import DivComponent from "@/components/DivComponent.vue";
import PricingTable from "@/components/parts/PricingTable.vue";
import FAQComponent from "@/components/FAQComponent.vue";
</script>

<template>
  <header class="relative flex h-full min-h-[calc(100svh-6rem)] flex-1">
    <div class="m-auto flex min-h-[50svh] w-full max-w-screen-lg flex-col p-2 pb-8">
      <div>
        <TitleComponent title="Create amazing Polls" />

        <p class="mt-4 w-full max-w-md text-xl leading-snug text-zinc-400">
          Whether making decisions, gathering opinions, or sparking conversations, we've got you
          covered.
        </p>
      </div>

      <div
        class="mx-auto mt-32 flex w-full max-w-screen-lg flex-col items-end justify-center gap-4 p-2 pb-8"
      >
        <MainButton label="Create a Poll" type="button" :to="{ name: 'pollCreation' }" />
      </div>
    </div>
  </header>

  <section class="relative">
    <BackgroundWave flipped />

    <!-- Features Section -->
    <div class="mt-8 flex flex-col items-center">
      <SecondTitle title="Features" />
      <div class="mb-16 flex flex-wrap justify-center gap-4">
        <DivComponent
          title="Create Polls"
          description="Easily create and customize polls to engage your audience and gather valuable feedback."
          :to="{ name: 'pollCreation' }"
          link-name="Try it out"
        />
        <DivComponent
          title="Share Insights"
          description="Share insights and results with your audience to keep them informed and engaged."
          :to="{ name: 'pollCreation' }"
          link-name="Try it out"
        />
        <DivComponent
          title="Collect Responses"
          description="Collect responses in real-time and analyze the data to make informed decisions."
          :to="{ name: 'pollCreation' }"
          link-name="Try it out"
        />
      </div>
    </div>

    <!-- Pricing Section -->
    <PricingTable
      :free-plan="{
        numberOfPolls: '3',
        customPollLink: false,
        realtimeStatistics: false,
        maxPollDuration: '24 hours',
        price: 'Free',
      }"
      :premium-plan="{
        numberOfPolls: 'Unlimited',
        customPollLink: true,
        realtimeStatistics: true,
        maxPollDuration: 'Yes',
        price: 'A++ / semester',
      }"
    />

    <!-- FAQ Section -->
    <div class="my-16 flex w-full flex-col items-center">
      <SecondTitle title="FAQ" />
      <FAQComponent
        question="How do I create a poll?"
        answer="To create a poll you need to be registered then navigate to the 'Create Poll' section, fill in the details, and publish your poll. You can customize questions and options to suit your needs."
      />
      <FAQComponent
        question="Is there a limit on the number of responses I can collect?"
        answer="There is no limit to the number of responses you can collect."
      />
      <FAQComponent question="How can I upgrade to premium?" answer="Contact us for more info!" />
    </div>
  </section>
</template>
