<script setup lang="ts">
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { faPersonThroughWindow } from "@fortawesome/free-solid-svg-icons";
import { library } from "@fortawesome/fontawesome-svg-core";

// Add the icon to the library
library.add(faPersonThroughWindow);
</script>

<template>
  <div class="flex min-h-screen flex-col items-center justify-center">
    <FontAwesomeIcon :icon="faPersonThroughWindow" class="mb-8 transform text-9xl text-white" />
    <h1 class="mb-4 text-8xl font-extrabold text-white drop-shadow-lg">404</h1>
    <h2 class="text-4xl font-bold text-white drop-shadow-md">Page Not Found</h2>
  </div>
</template>
