<script setup lang="ts">
import { API } from "@/API";
import MainButton from "@/components/MainButton.vue";
import SecondTitle from "@/components/SecondTitle.vue";
import type { Poll } from "@/models/APITypes";
import { useUserStore } from "@/stores/userStore";
import { faEdit, faEye, faTrash } from "@fortawesome/free-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { onMounted, ref } from "vue";

const userStore = useUserStore();

const deletingDialog = ref<HTMLDialogElement>();
const deletingPoll = ref<Poll>();
const deleting = ref(false);

onMounted(() => userStore.fetchUser().catch(console.error));

function startDeleting(poll: Poll) {
  deletingPoll.value = poll;
  deletingDialog.value?.showModal();
}
function stopDeleting() {
  deletingPoll.value = undefined;
  deletingDialog.value?.close();
}
async function deletePoll() {
  deleting.value = true;
  await API.poll.deletePoll(deletingPoll.value!.slug);
  await userStore.fetchUser();
  stopDeleting();
  deleting.value = false;
}
</script>

<template>
  <dialog
    ref="deletingDialog"
    class="fixed inset-0 flex flex-col gap-6 rounded-xl border-2 border-accent bg-zinc-900 p-4 text-zinc-200 backdrop:fixed backdrop:bg-black backdrop:opacity-50"
    :class="{ hidden: !deletingPoll }"
    data-cy="delete-dialog"
    @close="stopDeleting"
  >
    <SecondTitle title="Delete poll?" class="!m-0" data-cy="delete-dialog-title" />
    <p data-cy="delete-dialog-text">
      Are you sure you want to delete poll "{{ deletingPoll?.title }}"?<br />
      This cannot be undone!
    </p>

    <div class="ml-auto flex flex-wrap gap-2">
      <button class="navButton" :disabled="deleting" data-cy="cancel-button" @click="stopDeleting">
        Cancel
      </button>
      <MainButton
        label="Delete"
        :disabled="deleting"
        data-cy="confirm-delete-button"
        @click="deletePoll"
      />
    </div>
  </dialog>

  <div
    class="mx-auto mb-8 flex w-full max-w-screen-lg flex-col items-center gap-8 p-2"
    data-cy="profile-page"
  >
    <section
      class="glass flex w-full flex-wrap items-center justify-between gap-4 md:p-8"
      data-cy="profile-header"
    >
      <h2 class="text-4xl">
        <span class="opacity-75">Logged in as</span> {{ userStore.user?.name }}
      </h2>
      <MainButton
        class="ml-auto"
        label="Sign out"
        :to="{ name: 'login', query: { logOut: '1' } }"
        data-cy="sign-out-button"
      />
    </section>

    <section class="glass w-full md:p-8" data-cy="polls-section">
      <h2 class="mb-4 text-4xl" data-cy="polls-title">Your polls</h2>
      <p
        v-if="!userStore.user?.polls.length"
        class="px-2 py-4 opacity-50"
        data-cy="no-polls-message"
      >
        You have no polls yet.
      </p>
      <ul v-else class="flex flex-col hyphens-auto max-md:gap-y-8" data-cy="polls-list">
        <li
          v-for="(poll, i) in userStore.user.polls"
          :key="poll.id"
          class="relative flex flex-wrap items-center rounded-3xl transition hover:bg-white hover:bg-opacity-10"
          data-cy="poll-item"
        >
          <span
            v-if="i"
            class="absolute -top-4 left-0 w-full border-b-2 border-zinc-600 md:hidden"
          ></span>

          <RouterLink
            :to="{ name: 'results', params: { slug: poll.slug } }"
            class="flex max-w-full flex-grow flex-wrap items-center gap-x-8 p-3 md:px-6"
            data-cy="poll-link"
          >
            <div class="max-w-full break-words text-2xl leading-none" data-cy="poll-title">
              {{ poll.title }}
            </div>
            <div class="-mb-1" data-cy="poll-views">
              {{ poll.views.toLocaleString() }}
              <FontAwesomeIcon :icon="faEye" size="sm" class="ml-1 opacity-50" />
            </div>
          </RouterLink>

          <div class="ml-auto" data-cy="poll-actions">
            <RouterLink
              class="navButton"
              :to="{ name: 'pollEdit', params: { slug: poll.slug } }"
              data-cy="edit-button"
            >
              <FontAwesomeIcon :icon="faEdit" />
            </RouterLink>
            <button class="navButton" data-cy="delete-button" @click="() => startDeleting(poll)">
              <FontAwesomeIcon :icon="faTrash" />
            </button>
          </div>
        </li>
      </ul>
    </section>
  </div>
</template>
