<script setup lang="ts">
import {
  faCheckCircle,
  faExclamationCircle,
  faExclamationTriangle,
  faInfoCircle,
  type IconDefinition,
} from "@fortawesome/free-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { computed } from "vue";

type AlertLevel = "error" | "warning" | "info" | "success";

const props = defineProps<{ level?: AlertLevel; title?: string; description?: string }>();

const level = computed(() => props.level ?? "error");

const ICONS = {
  error: faExclamationCircle,
  warning: faExclamationTriangle,
  info: faInfoCircle,
  success: faCheckCircle,
} satisfies Record<AlertLevel, IconDefinition>;

const CLASSES = {
  error: "bg-red-400 text-red-500",
  warning: "bg-yellow-400 text-yellow-500",
  info: "bg-sky-400 text-sky-500",
  success: "bg-green-400 text-green-500",
} satisfies Record<AlertLevel, string>;
</script>

<template>
  <div :class="`rounded-full bg-opacity-25 px-4 py-2 ${CLASSES[level]}`">
    <FontAwesomeIcon :icon="ICONS[level]" class="mr-2 text-lg" />

    <strong class="mr-2 text-lg">
      <slot>{{ props.title }}</slot>
    </strong>

    <span class="text-white">
      <slot name="description">{{ props.description }}</slot>
    </span>
  </div>
</template>
