<script setup lang="ts">
import { faCheck, faCopy } from "@fortawesome/free-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { reactive } from "vue";

const props = defineProps<{ content: string }>();

const state = reactive<{
  justCopied: boolean;
  justCopiedTimeout: number | null;
}>({
  justCopied: false,
  justCopiedTimeout: null,
});

async function copy() {
  try {
    await navigator.clipboard.writeText(props.content);

    state.justCopied = true;

    if (state.justCopiedTimeout) clearTimeout(state.justCopiedTimeout);
    state.justCopiedTimeout = setTimeout(() => {
      state.justCopied = false;
    }, 1500);
  } catch (error) {
    console.error(error);
  }
}
</script>

<template>
  <button class="navButton break-all px-4 py-2 text-sm" @click="copy">
    <slot></slot>
    <FontAwesomeIcon
      fixed-width
      :icon="state.justCopied ? faCheck : faCopy"
      class="transition"
      :class="{ 'text-green-400': state.justCopied }"
    />
  </button>
</template>
