<script setup lang="ts">
import { type RouteLocationRaw } from "vue-router";
import TextLink from "./TextLink.vue";

const props = defineProps<{
  title: string;
  description?: string;
  to?: RouteLocationRaw;
  linkName?: string;
}>();
</script>

<template>
  <div class="glass max-w-xs rounded-xl p-6 text-white shadow-lg">
    <h3 class="mb-2 text-2xl">{{ title }}</h3>
    <p v-if="description" class="mb-4">{{ description }}</p>
    <TextLink v-if="to" :to="to">{{ linkName }} -></TextLink>
    <slot></slot>
  </div>
</template>
