<script setup lang="ts">
import { ref } from "vue";

const props = defineProps<{
  question: string;
  answer: string;
}>();

const isOpen = ref(false);

const toggle = () => {
  isOpen.value = !isOpen.value;
};
</script>

<template>
  <div class="w-full max-w-4xl border-b border-gray-700">
    <div class="flex cursor-pointer items-center justify-between p-4" @click="toggle">
      <span class="mr-4">{{ question }}</span>
      <svg
        :class="{ 'rotate-180': isOpen }"
        class="h-5 w-5 transform transition-transform duration-300"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 9l-7 7-7-7"
        ></path>
      </svg>
    </div>
    <div v-if="isOpen" class="p-4">
      <p class="text-gray-400">{{ answer }}</p>
    </div>
  </div>
</template>
