<script setup lang="ts">
const model = defineModel<string>();
const props = defineProps<{
  type?: string;
  id?: string;
  placeholder?: string;
  label: string;
  required?: boolean;
}>();
</script>

<template>
  <label :for="props.id" class="mb-2 block text-sm font-medium text-gray-300">
    {{ props.label }}

    <input
      :id="props.id"
      v-model="model"
      :type="props.type ?? 'text'"
      :placeholder="props.placeholder"
      :required="props.required"
      class="mt-2 w-full rounded-lg border-0 px-4 py-3 text-white placeholder-gray-300 focus:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-500"
    />
  </label>
</template>

<style scoped>
input {
  background: radial-gradient(127.45% 212.51% at 50.08% 50.52%, #47394e 39%, #584a5c 100%);
}
</style>
