<script setup lang="ts">
import { RouterLink, type RouteLocationRaw } from "vue-router";

const props = defineProps<{
  to?: RouteLocationRaw;
  label: string;
  name?: string;
  type?: "submit" | "reset" | "button";
}>();
</script>

<template>
  <component
    :is="props.to ? RouterLink : 'button'"
    :to="props.to ?? undefined"
    class="rounded-3xl bg-gradient-to-br from-blue via-purple-700 to-purple-600 px-8 py-2 text-xl transition ease-in-out hover:scale-105 hover:brightness-110"
    :name="props.name"
    :type="props.type ?? 'button'"
  >
    {{ props.label }}
  </component>
</template>
