<script setup lang="ts">
const model = defineModel<number>();
const props = defineProps<{
  min?: number;
  max?: number;
  step?: number;
  disabled?: boolean;
  required?: boolean;
}>();
</script>

<template>
  <input
    v-model="model"
    type="number"
    :min="props.min"
    :max="props.max"
    :step="props.step"
    :disabled="props.disabled"
    :required="props.required"
    class="w-40 rounded-3xl border-0 px-4 py-3 text-white focus:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-500"
  />
</template>

<style scoped>
input {
  background: radial-gradient(127.45% 212.51% at 50.08% 50.52%, #47394e 39%, #584a5c 100%);
}
</style>
