<script setup lang="ts">
const model = defineModel<string>();
const props = defineProps<{
  label: string;
  disabled: boolean;
  required: boolean;
  options: { value: string; label: string }[];
}>();
</script>

<template>
  <select
    v-model="model"
    :name="props.label"
    :disabled="props.disabled"
    :required="props.required"
    class="w-40 rounded-3xl border-0 px-4 py-3 text-white focus:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-500"
  >
    <option v-for="option in props.options" :key="option.value" :value="option.value">
      {{ option.label }}
    </option>
  </select>
</template>

<style scoped>
select {
  background: radial-gradient(127.45% 212.51% at 50.08% 50.52%, #47394e 39%, #584a5c 100%);
}

select option {
  background: #47394e;
}
</style>
