<script setup lang="ts">
import { RouterLink, type RouteLocationRaw } from "vue-router";

const props = defineProps<{ to: RouteLocationRaw }>();
</script>

<template>
  <RouterLink :to="props.to" class="text-accent underline transition hover:text-accent-light">
    <slot />
  </RouterLink>
</template>
