<script setup lang="ts">
const props = defineProps<{ flipped?: boolean }>();
</script>

<template>
  <svg
    class="h-auto min-h-[15svh] w-full opacity-40"
    :class="props.flipped ? '-scale-100' : ''"
    preserveAspectRatio="xMidYMid slice"
    viewBox="0 0 1920 269"
    xmlns="http://www.w3.org/2000/svg"
  >
    <defs>
      <linearGradient
        id="backgroundWave-gradient"
        x1="983"
        y1="-58.108"
        x2="907.227"
        y2="365.631"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0" class="text-accent" />
        <stop offset="1" class="text-accent-darkest" />
      </linearGradient>
    </defs>

    <path
      d="M0 75.2942C175.867 16.5647 349.553 0 486.904 0C673.5 0 801.575 68.6014 890.235 102.902C976.23 141.219 1182.46 207.492 1318.5 209.5C1454.54 211.508 1633.67 161.632 1706.34 131.012C1806.42 88.8472 1842.1 89.6503 1920 88.8472V269H0V75.2942Z"
      fill="url(#backgroundWave-gradient)"
    />
  </svg>
</template>

<style scoped>
stop {
  stop-color: currentColor;
}
</style>
