<script setup lang="ts">
import { ref, onMounted, onUnmounted, type Ref } from "vue";
import { useBackgroundLines } from "@/stores/backgroundLinesStore";

const props = defineProps<{ id: string; lines: number[]; reverse?: boolean }>();

const linesStore = useBackgroundLines();
linesStore.start(props.lines);

const canvasElement: Ref<HTMLCanvasElement | undefined> = ref();
const colorStops: string[] = [];
let ctx: CanvasRenderingContext2D | null = null;
let frame = 0;

onMounted(() => {
  ctx = canvasElement.value!.getContext("2d", {
    alpha: true,
  });
  const style = getComputedStyle(canvasElement.value!);
  for (let i = 0; i < 5; i++) {
    colorStops.push(style.getPropertyValue("--stop-" + i));
  }

  window.addEventListener("resize", onResize);

  onResize();
  update();
});

onUnmounted(() => {
  if (frame) window.cancelAnimationFrame(frame);
  window.removeEventListener("resize", onResize);
});

function onResize() {
  const canvas = canvasElement.value;
  if (canvas) {
    canvas.width = canvas.clientWidth;
    canvas.height = canvas.clientHeight;
  }
}

function update() {
  const canvas = canvasElement.value;
  if (!ctx || !canvas) return;

  frame = window.requestAnimationFrame(update);
  const { width, height } = canvas;
  ctx.clearRect(0, 0, width, height);

  const gradientX = ((frame * (width * 0.002)) % width) - width;
  ctx.lineWidth = Math.round(height * 0.012);
  ctx.globalAlpha = 0.42;

  for (let lineIndex = 0; lineIndex < linesStore.lines.length; lineIndex++) {
    const points = linesStore.lines[lineIndex]();

    ctx.beginPath();
    const count = points.length - 1;
    let lastValue = 0;
    for (let i = 0; i < points.length; i++) {
      const value = points[i] * height;
      if (i == 0) {
        ctx.moveTo(0, value);
      } else {
        const cpx = ((i - 0.5) / count) * width;
        ctx.bezierCurveTo(cpx, lastValue, cpx, value, (i / count) * width, value);
      }
      lastValue = value;
    }

    const _gradX = lineIndex % 2 ? gradientX : width - gradientX;
    const gradient = ctx.createLinearGradient(
      _gradX,
      0,
      lineIndex % 2 ? _gradX + width * 2 : _gradX - width * 2,
      0
    );
    const gradLength = colorStops.length * 2;
    for (let i = 0; i < gradLength; i++) {
      gradient.addColorStop(i / gradLength, colorStops[i % colorStops.length]);
    }
    ctx.strokeStyle = gradient;
    ctx.stroke();
  }
}
</script>

<template>
  <canvas ref="canvasElement" class="absolute inset-0 h-full w-full" />
</template>

<style scoped lang="postcss">
canvas {
  --stop-0: theme("colors.accent.DEFAULT");
  --stop-1: theme("colors.accent.light");
  --stop-2: theme("colors.accent.DEFAULT");
  --stop-3: theme("colors.accent.darkest");
  --stop-4: theme("colors.accent.DEFAULT");
}
</style>
