<script setup lang="ts">
import { onMounted, onUnmounted, ref } from "vue";
import BackgroundLine from "./BackgroundLine.vue";
import BackgroundWave from "./BackgroundWave.vue";

const lines = ref([0.4, 0.55]);

function onKeyPress(ev: KeyboardEvent) {
  if (ev.key == "u") {
    lines.value.push(Math.random());
  }
}

onMounted(() => window.addEventListener("keypress", onKeyPress));
onUnmounted(() => window.removeEventListener("keypress", onKeyPress));

const props = defineProps<{
  withWaves?: boolean;
}>();
</script>

<template>
  <div
    class="absolute inset-0 -z-10 -mt-24 h-screen w-screen bg-gradient-to-b from-zinc-700 to-zinc-900"
  >
    <Transition name="fade">
      <BackgroundLine
        v-if="props.withWaves"
        id="backgroundLine-0"
        :key="lines.length"
        :lines="lines"
      />
    </Transition>
    <Transition name="fade">
      <BackgroundWave v-if="props.withWaves" class="art absolute bottom-0 left-0" />
    </Transition>
  </div>
</template>
