<script setup lang="ts">
import LogoIcon from "./LogoIcon.vue";

const props = defineProps<{
  show?: boolean;
}>();
</script>

<template>
  <div
    class="absolute inset-0 z-10 flex size-full items-center justify-center backdrop-blur transition delay-200 duration-500"
    :class="{
      'opacity-0': !props.show,
      'pointer-events-none': !props.show,
    }"
  >
    <LogoIcon animated class="drop-shadow-lg" />
  </div>
</template>
