<script setup lang="ts">
const props = defineProps<{
  animated?: boolean;
}>();
</script>

<template>
  <svg
    class="mr-4 size-20"
    :class="{ animate: props.animated }"
    width="81"
    height="47"
    viewBox="0 0 81 47"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <!-- 1st line -->
    <g>
      <rect
        y="6.71428"
        width="6.71429"
        height="54"
        rx="3.35714"
        transform="rotate(-90 0 6.71428)"
        fill="#FF3983"
      />
    </g>
    <!-- 2nd line -->
    <g>
      <path
        d="M3.35714 16.7857C1.50304 16.7857 0 15.2827 0 13.4286C0 11.5745 1.50305 10.0714 3.35714 10.0714L27 10.0714V16.7857H3.35714Z"
        fill="#5D45AC"
      />
      <path
        d="M27 16.7857V10.0714L64.1429 10.0714C65.997 10.0714 67.5 11.5745 67.5 13.4286C67.5 15.2827 65.997 16.7857 64.1429 16.7857L27 16.7857Z"
        fill="#9B50D6"
      />
    </g>
    <!-- 3rd line -->
    <g>
      <rect
        y="26.8571"
        width="6.71429"
        height="81"
        rx="3.35714"
        transform="rotate(-90 0 26.8571)"
        fill="white"
      />
    </g>
    <!-- 4th line -->
    <g>
      <path
        d="M3.35714 36.9286C1.50304 36.9286 0 35.4255 0 33.5714C0 31.7173 1.50304 30.2143 3.35714 30.2143H20.25V36.9286H3.35714Z"
        fill="#5D45AC"
      />
      <rect
        x="20.25"
        y="36.9286"
        width="6.71428"
        height="20.25"
        transform="rotate(-90 20.25 36.9286)"
        fill="#9B50D6"
      />
      <path
        d="M40.5 36.9286V30.2143H57.3929C59.247 30.2143 60.75 31.7173 60.75 33.5714C60.75 35.4255 59.247 36.9286 57.3929 36.9286H40.5Z"
        fill="#FF3983"
      />
    </g>
    <!-- 5th line -->
    <g>
      <rect
        y="47"
        width="6.71429"
        height="38.8125"
        rx="3.35714"
        transform="rotate(-90 0 47)"
        fill="white"
      />
    </g>
  </svg>
</template>

<style scoped>
.animate g {
  animation: wave 1s alternate ease-in-out infinite;
}

g:nth-child(2) {
  animation-delay: -0.2s;
}

g:nth-child(3) {
  animation-delay: -0.5s;
}

g:nth-child(4) {
  animation-delay: -0.4s;
}

g:nth-child(5) {
  animation-delay: -0.3s;
}

@keyframes wave {
  from {
    transform: scaleX(0.1);
  }
}
</style>
