<script setup lang="ts">
import LogoIcon from "./LogoIcon.vue";

const props = defineProps<{
  innerClass?: string;
}>();
</script>

<template>
  <RouterLink class="flex items-center text-3xl text-zinc-100" :to="{ name: 'home' }">
    <LogoIcon :class="props.innerClass"></LogoIcon>

    <h1 class="mx-4 uppercase tracking-widest">Polls</h1>
  </RouterLink>
</template>
