<script setup lang="ts">
import SecondTitle from "@/components/SecondTitle.vue";

const props = defineProps<{
  freePlan: {
    numberOfPolls: string | number;
    customPollLink: boolean;
    realtimeStatistics: boolean;
    maxPollDuration: string;
    price: string;
  };
  premiumPlan: {
    numberOfPolls: string | number;
    customPollLink: boolean;
    realtimeStatistics: boolean;
    maxPollDuration: string;
    price: string;
  };
}>();
</script>

<template>
  <div class="mt-16 flex flex-col items-center px-4">
    <SecondTitle title="Pricing" />

    <!-- Desktop view -->
    <table class="hidden w-full max-w-4xl rounded-xl text-center text-white md:table">
      <thead>
        <tr class="">
          <th class="px-4 py-2"></th>
          <th class="px-4 py-2 text-center text-xl">Free version</th>
          <th class="px-4 py-2 text-center text-xl text-yellow-400">Premium</th>
        </tr>
      </thead>
      <tbody class="">
        <tr>
          <td class="px-4 py-2 text-left">Number of polls</td>
          <td class="px-2" rowspan="5">
            <div class="glass mx-2 flex items-center justify-center p-4">
              <ul class="space-y-4">
                <li class="text-center">{{ freePlan.numberOfPolls }}</li>
                <li class="text-center">
                  {{ freePlan.customPollLink ? "✔" : "✖" }}
                </li>
                <li class="text-center">
                  {{ freePlan.realtimeStatistics ? "✔" : "✖" }}
                </li>
                <li class="text-center">{{ freePlan.maxPollDuration }}</li>
                <li class="text-center">{{ freePlan.price }}</li>
              </ul>
            </div>
          </td>
          <td class="px-2" rowspan="5">
            <div class="glass mx-2 flex items-center justify-center p-4">
              <ul class="space-y-4">
                <li class="text-center">{{ premiumPlan.numberOfPolls }}</li>
                <li class="text-center">
                  {{ premiumPlan.customPollLink ? "✔" : "✖" }}
                </li>
                <li class="text-center">
                  {{ premiumPlan.realtimeStatistics ? "✔" : "✖" }}
                </li>
                <li class="text-center">{{ premiumPlan.maxPollDuration }}</li>
                <li class="text-center">{{ premiumPlan.price }}</li>
              </ul>
            </div>
          </td>
        </tr>
        <tr>
          <td class="px-4 py-2 text-left">Custom poll link</td>
        </tr>
        <tr>
          <td class="px-4 py-2 text-left">Realtime statistics</td>
        </tr>
        <tr>
          <td class="px-4 py-2 text-left">Max poll duration</td>
        </tr>
        <tr>
          <td class="px-4 py-2 text-left">Price</td>
        </tr>
      </tbody>
    </table>

    <!-- Mobile view -->
    <div class="w-full max-w-4xl md:hidden">
      <div class="mb-4 flex flex-col items-center p-8">
        <h3 class="mb-2 text-xl">Free version</h3>
        <div class="glass grid w-full max-w-xs grid-cols-2 gap-4">
          <div>Number of polls:</div>
          <div>
            <strong>{{ freePlan.numberOfPolls }}</strong>
          </div>
          <div>Custom poll link:</div>
          <div>
            <strong>{{ freePlan.customPollLink ? "✔" : "✖" }}</strong>
          </div>
          <div>Realtime statistics:</div>
          <div>
            <strong>{{ freePlan.realtimeStatistics ? "✔" : "✖" }}</strong>
          </div>
          <div>Max poll duration:</div>
          <div>
            <strong>{{ freePlan.maxPollDuration }}</strong>
          </div>
          <div>Price:</div>
          <div>
            <strong>{{ freePlan.price }}</strong>
          </div>
        </div>
      </div>
      <div class="flex flex-col items-center p-8">
        <h3 class="mb-2 text-xl text-yellow-400">Premium</h3>
        <div class="glass grid w-full max-w-xs grid-cols-2 gap-4">
          <div>Number of polls:</div>
          <div>
            <strong>{{ premiumPlan.numberOfPolls }}</strong>
          </div>
          <div>Custom poll link:</div>
          <div>
            <strong>{{ premiumPlan.customPollLink ? "✔" : "✖" }}</strong>
          </div>
          <div>Realtime statistics:</div>
          <div>
            <strong>{{ premiumPlan.realtimeStatistics ? "✔" : "✖" }}</strong>
          </div>
          <div>Max poll duration:</div>
          <div>
            <strong>{{ premiumPlan.maxPollDuration }}</strong>
          </div>
          <div>Price:</div>
          <div>
            <strong>{{ premiumPlan.price }}</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
