<script setup lang="ts">
import { RouterView, useRoute, RouterLink, useRouter, type RouteLocation } from "vue-router";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import {
  faUserCircle,
  faPlus,
  faSpinner,
  faSignIn,
  faBars,
  faClose,
} from "@fortawesome/free-solid-svg-icons";
import LogoComponent from "./components/parts/LogoComponent.vue";
import BackgroundArt from "./components/parts/BackgroundArt.vue";
import { useUserStore } from "./stores/userStore";
import { useScrollStore } from "./stores/scrollStore";
import { ref, watch } from "vue";

const route = useRoute();
const router = useRouter();
const userStore = useUserStore();
const scrollStore = useScrollStore();

const navOpen = ref(false);
const savedScroll = ref<{ route: RouteLocation | null; top: number }>({ route: null, top: 0 });

router.beforeEach((_to, from) => {
  if (from.name) {
    savedScroll.value = { route: from, top: window.scrollY };
  }
});

watch(route, () => (navOpen.value = false));
</script>

<template>
  <!-- Hard-coded height because pages use it -->
  <header
    class="sticky top-0 z-40 flex h-24 w-full items-center justify-between bg-opacity-50 px-4 transition duration-500"
    :class="{
      'bg-zinc-700': scrollStore.scroll > 1,
      'backdrop-blur': scrollStore.scroll > 1,
    }"
  >
    <LogoComponent />

    <button class="navButton md:hidden" @click="() => (navOpen = !navOpen)">
      <FontAwesomeIcon :icon="navOpen ? faClose : faBars" size="xl" fixed-width />
    </button>

    <nav
      class="right-0 top-full flex origin-top items-start gap-4 rounded-b-xl transition max-md:absolute max-md:flex-col max-md:bg-zinc-600 max-md:bg-opacity-50 max-md:py-2 max-md:backdrop-blur"
      :class="{
        'max-md:scale-y-0': !navOpen,
      }"
    >
      <RouterLink
        v-if="route.name !== 'pollCreation' && route.name !== 'pollEdit'"
        :to="{ name: 'pollCreation' }"
        class="navButton"
      >
        <FontAwesomeIcon :icon="faPlus" class="-mb-0.5" fixed-width />
        Create new poll
      </RouterLink>

      <RouterLink :to="{ name: userStore.user ? 'profile' : 'login' }" class="navButton">
        <template v-if="userStore.user">
          <FontAwesomeIcon :icon="faUserCircle" fixed-width />
          Profile
        </template>
        <template v-else-if="userStore.loading">
          <FontAwesomeIcon :icon="faSpinner" spin-pulse fixed-width />
          Loading...
        </template>
        <template v-else>
          <FontAwesomeIcon :icon="faSignIn" fixed-width />
          Sign in
        </template>
      </RouterLink>
    </nav>
  </header>

  <main class="grid min-h-[calc(100svh-6rem)] flex-grow">
    <RouterView v-slot="{ Component, route: r }">
      <Transition :name="route.meta.transition || 'fade'">
        <div
          :key="r.path"
          class="col-start-1 row-start-1 flex h-full flex-col"
          :style="{
            transform: `translateY(${r.path == savedScroll.route?.path ? -savedScroll.top : 0}px)`,
          }"
        >
          <BackgroundArt :with-waves="!!route.meta.background" />
          <component :is="Component" />
        </div>
      </Transition>
    </RouterView>
  </main>

  <footer
    class="flex flex-wrap items-center justify-center gap-2 border-t-2 border-accent bg-zinc-950 px-4 py-8"
  >
    <LogoComponent />
    created by Mia, Matěj and Adam.
  </footer>
</template>

<style>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
</style>
