@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navButton {
    @apply inline-flex items-center gap-3 rounded-full px-6 py-3 text-xl leading-none text-zinc-300 transition hover:bg-accent-dark hover:bg-opacity-75 hover:text-zinc-100;
  }

  .glass {
    @apply rounded-3xl p-4;

    background: radial-gradient(
      83.58% 83.58% at 50% 50%,
      rgba(134, 57, 126, 0.35) 0%,
      rgba(49, 49, 49, 0.35) 78.5%
    );
    box-shadow: 0px 4px 20px 1px #4d007140;
    border: 1px solid #bb46bd4d;
  }
}
